.item {
  color: #353935;
  font-size: 20px;
  margin: 0 auto;
  padding: 10px 0;
}
.itemName {
  font-weight: bold;
  padding: 5px 0;
}
.line {
  border: 1px solid #f4f4f4;
}
.deleteButton {
  float: right;
  padding: 8px 16px;
  border: none;
  background-color: #1d2540;
  color: #ffffff;
  margin-top: -5px;
  border-radius: 4px;
  cursor: pointer;
}
